{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="container hero__inner hero__center">

        <h1>
            Создай своё цифровое<br>
            <span>БУДУЩЕЕ</span>
        </h1>

        <p class="hero__text">
            Мы создаём веб-сайты и эффективные IT-решения,
            которые помогут вашему бизнесу процветать
            в цифровом мире.
        </p>

        <div class="hero__buttons">
            <a href="#" class="btn btn-primary">Стать клиентом</a>
            <a href="#" class="btn btn-light">Наши работы</a>
        </div>

    </div>
</section>

{% endblock %}
